*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build
**/.gradle
**/.externalNativeBuild
**/.cxx
*.jks
*.keystore
*.p12
*.pem
*.key
.workbuddy/
.trae/
build_app/
build_app2/
